<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-icon/iron-icon.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">

<!--
Repository for the polymer element icon-rate
Material design: [Icon toggles](https://www.google.com/design/spec/components/buttons.html#buttons-toggle-buttons)
`icon-rate` is a group of buttons or icons with an image placed at the center
of each icon/button representing the rate of something.
`icon-rate` includes a default icon set.  Use `icon` to specify which icon
from the icon set to use.
```html
<icon-rate icon="menu"></icon-rate>
```
See [`iron-iconset`](https://elements.polymer-project.org/elements/iron-iconset) for more information about
how to use a custom icon set.
Example:
```html
<link href="path/to/iron-icons/iron-icons.html" rel="import">
<icon-rate icon="favorite"></icon-rate>
```
### Styling
Style the icon/button with CSS as you would a normal DOM element. If you are using the icons
provided by `iron-icons`, they will inherit the foreground color of the button.
```html
- make a red star "icon-rate" element
<icon-rate icon="star" style="color: red;"></icon-rate>
```
By default, the ripple is the same color as the foreground at 25% opacity. You may
customize the color using the `--icon-rate-ink-color` custom property.
The following custom properties and mixins are available for styling:
Custom property | Description | Default
----------------|-------------|----------
`--icon-rate-ink-color` | Selected/focus ripple color (only for interactive mode) | `--primary-text-color`
`--icon-rate-hover` | Mixin for icon/button on hover | `{}`
`--icon-rate-filled` | Mixin for filled icon/button | `{}`
`--icon-rate-empty` | Mixin for empty icon/button | `{}`
  @element icon-rate
  @demo demo/index.html
-->

<dom-module id="icon-rate">
  <template>
    <style>
      :host {
        display: block;
        /* Disable text selection */
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;
      }
      .filled {
        color: var(--paper-orange-900);
        @apply(--icon-rate-filled);
      }
      .empty {
        color: var(--paper-orange-200);
        @apply(--icon-rate-empty);
      }
      paper-icon-button {
        --paper-icon-button-ink-color: var(--icon-rate-ink-color, --primary-text-color);
      }
      paper-icon-button:hover, iron-icon:hover {
        @apply: var(--icon-rate-hover);
      }
    </style>
    <template is="dom-repeat" items="{{_icons}}" index-as="i">
        <iron-icon icon="{{icon}}" class$="{{_computeRateClass(i, _index)}}"></iron-icon>
    </template>
    <template is="dom-repeat" items="{{_buttons}}" index-as="i">
        <paper-icon-button
          icon="{{icon}}"
          class$="{{_computeRateClass(i, _index)}}"
          noink={{noink}}
          index={{i}}
          on-tap="_handleTap"
          >
        </paper-icon-button>
    </template>
  </template>

  <script>
    Polymer({
      is: 'icon-rate',
      properties: {
        /**
         * The current value of the rate to display. The value should be a number
         * between start and end, in interactive mode the rate will change
         * to the user selected rate
         */
        rate: {
          type: Number,
          notify: true,
          value: 0
        },
        /**
         * The initial value of the rating range
         *
         */
        start: {
          type: Number,
          value: 0
        },
        /**
         * The end value of the rating range
         *
         */
        end: {
          type: Number,
          value: 5
        },
        /**
         * The name of the icon to use. The name should be of the form:
         * `iconset_name:icon_name`.
         */
        icon: {
          type: String,
          value: 'icons:star'
        },
        /**
         * If set true, the element will be rendered as a button, with
         * interactive behavior.
         */
        interactive: {
          type: Boolean,
          value: false
        },
        /**
         * Only useful in interactive mode, If set true, the rate
         * button will not ripple
         */
        noink: {
          type: Boolean,
          value: false
        },
        /**
         * Array filled with zeros representing the amount of icons that should be shown.
         */
        _icons: {
          type: Array
        },
        /**
         * Array filled with zeros representing the amount of buttons that should be shown.
         */
        _buttons: {
          type: Array
        },
        /**
         * Index of the last filled icon
         */
        _index : {
          type: Number
        }
      },
      observers: [
        '_setMode(interactive, end)',
        '_rateChanged(rate, end, start)'
      ],
      _setMode : function(interactive, end){
        if(interactive) {
          this._buttons = new Array(end);
        } else {
          this._icons = new Array(end);
        }
      },
      _computeRateClass : function(i, index){
        var rate = ' rate-' + this._rateToIndex(parseInt(i) + 1);
        return (i < index? 'filled' : 'empty') + rate;
      },
      _handleTap: function(event){
        var button = Polymer.dom(event).localTarget;
        var rate = button.index + 1;
        if (rate > 0 && rate !== this.rate) {
          //this.rate = rate;
        }
      },
      _rateChanged : function(newRate){
        var rate = parseInt(newRate);
        if (isNaN(rate) || !this._contains(rate)) {
          this.rate = undefined;
        }
        this._index = this._rateToIndex(rate);
      },
      _rateToIndex : function(rate){
        return Math.ceil(rate); //Math.floor((Math.random() * 5) + 1);
      },
      _contains : function(rate){
        return rate >= this.start || rate <= this.end;
      }
    });

    
  </script>
</dom-module>