<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="hn-wait-list">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;
        padding: 10px;
      }
      
      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
      }
    </style>
    <div hidden$="[[showForm]]">
      Your request has been sent. You will be notified when this resource has avalibility.
    </div>
    <div style="max-width:50vw; padding:0 0 0 5vw">
      <h2 hidden$="[[!showForm]]">
        Request access to this resource
      </h2>
      <form hidden$="[[!showForm]]" is="iron-form" id="waitListform" method="post" action="https://ghvi-api.myhive.io/waitlist/makeWaitList">
        <paper-input name="firstName" label="First Name"></paper-input>
        <paper-input name="lastName" label="Last Name"></paper-input>
        <paper-input name="email" label="Email"></paper-input>
        <paper-input name="phone" label="Phone"></paper-input>
        <paper-button style="margin:0 0 0 12.5vw" raised class="green" on-click="submitForm">Request</paper-button>
      </form>
    </div>
  </template>

  <script>
    Polymer({
      is: 'hn-wait-list',
       submitForm : function() {
            this.$.waitListform.submit();
            
        },
        properties: {
          resource: {
            type: Object
          },
          showForm: {
            type: Boolean
          }
        },
      ready:function(){
        var self = this;
        self.showForm = true;
         this.$.waitListform.addEventListener('iron-form-presubmit', function() {
           self.showForm = false;
           this.request.method = 'post'; 
 
           this.request.params = {resourceName:self.resource.resource, resourceId:self.resource.id, bedCount: 1};
          });
      }
      
    });
  </script>
</dom-module>