<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../icon-rate.html">
<link rel="import" href="../bower_components/geo-location/geo-location.html">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">

<link rel="import" href="../icon-rate.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;
        padding: 10px;
      }
      
      @media (max-width: 600px) {
        paper-button {
          width: 100%;
        }
      }
      
      .red {
        --icon-rate-filled: {
          color: var(--paper-red-900);
        }
        --icon-rate-empty: {
          color: var(--paper-red-200);
        }
      }
      
      .orange {
        --icon-rate-filled: {
          color: var(--paper-light-blue-400);
        }
        --icon-rate-empty: {
          color: var(--paper-light-blue-200);
        }
        --paper-icon-button: {
          padding: 8px 0px 8px 0px;
          width: 25px;
        }
      }
      
      @media (max-width: 600px) {
        .card {
          margin: 4px 0 4px 0;
          padding: 5px;
        }
      }
      
      .row:nth-child(odd) {
        background-color: #f9f9f9;
        border-top: 1px solid #d9d9d9;
        border-bottom: 2px solid #d9d9d9;
      }
    </style>

    <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>

    <div class="layout horizontal wrap">
      <h2 class="headerTitles">Select a Resource</h2>
    </div>
    </div>
    <div class="card">
      <iron-ajax auto url="https://ghvi-api.myhive.io/resource/filterSearch?limit=15&page={{page}}&cat={{queryParams.cat}}&men={{queryParams.men}}&women={{queryParams.women}}&children={{queryParams.children}}"
        handle-as="json" last-response="{{resources}}"></iron-ajax>
      <template is="dom-repeat" items="{{resources}}">
        <div class="layout vertical wrap divide row">
          <div class="layout horizontal flex-container wrap" style="padding: 5px">
            <div class="layout flex-4"style="margin: auto; width: 150px">
              <h3><strong>{{item.resource}}</strong></h3>
              <!--<p>{{item.category}}</p>-->
            </div>

            <div class="flex-4" style="margin: auto; min-width: 141px">

              <p>Openings:
                <template is="dom-if" if="{{checkAttribute(item.servicecapacity)}}">

                  {{item.servicecapacity_available}}/{{item.servicecapacity}}
                </template>
                <template is="dom-if" if="{{!checkAttribute(item.servicecapacity)}}">
                  N/A
                </template>
              </p>

              <p>{{item.servicecapacity_beds_notes}}</p>
            </div>

            <div class="flex-1" style="margin: auto; min-width: 50px">
              <geo-location watch-pos latitude="{{ latitude2 }}" longitude="{{ longitude2 }}"></geo-location>
              [[ getDistanceFromLatLonInKm(item.latitude, item.longitude, 38.6325211, -90.2281835, "M") ]] miles
            </div>
            <div class="flex-3" style="margin: auto; min-width: 141px">
              <icon-rate rate="{{item.rating}}" end="5" icon="icons:star" class="orange" interactive></icon-rate>
            </div>

            <div class="flex-1" style="margin: auto; min-width: 90px">
              <paper-button raised on-click="link" class="flex" id=[[item.id]] style="background-color: #25aae1; color: white;">Select</paper-button>
            </div>
          </div>
        </div>
      </template>
    </div>
    <!--<div>-->
    <!-- pagination stuff goes here -->
    <!--<template is="dom-if" if="{{page > 1}}">-->
    <!--<paper-button raised>Previous Page</paper-button>
        </template>
        <span>Current Page: {{page}}</span>
        <paper-button raised>Next Page</paper-button>-->
    <!--</div>-->
  </template>

  <script>
    Polymer({
      is: 'my-view3',
      checkAttribute: function(thing){
        return Boolean(thing);
      },
        link:function(el) {
            var id = el.target.getAttribute('id');
            el.currentTarget.addEventListener('transitionend', function(e) {
                location.href = "/view4/?resourceid="+id;
            })
        },
        getDistanceFromLatLonInKm: function(latitude1, longitude1, latitude2, longitude2, units) {
            var earthRadius = 6371; // Radius of the earth in km
            var dLat = (latitude2 - latitude1) * (Math.PI / 180);
            var dLon = (longitude2 - longitude1) * (Math.PI / 180);
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                            Math.cos(latitude1 * (Math.PI / 180)) * Math.cos(latitude2 * (Math.PI / 180)) *
                            Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = earthRadius * c;
            var miles = d / 1.609344;
            miles = Math.round(miles);
            if (units == 'km') {
                return d;
            } else {
                return miles;
            }
        }
    });
  </script>

</dom-module>