<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="hn-components/hn-wait-list.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/geo-location/geo-location.html">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>


<dom-module id="my-view4">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;
        padding: 10px;
      }
      
      google-map {
        height: 25vh;
      }
    </style>

    <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>

    <div class="card">
      <div class="layout horizontal wrap">
        <h1>{{resource.resource}}</h1>
      </div>
    </div>

    <iron-ajax id="ajax_list" auto url="https://ghvi-api.myhive.io/resource/{{queryParams.resourceid}}" handle-as="json" last-response="{{resource}}"></iron-ajax>


    <div class="card">
      <div class="layout vertical wrap divide">
        <div class="layout horizontal">
          <div class="layout vertical wrap flex">
            <template is="dom-if" if="{{checkAttribute(resource.contactp1)}}">
              <p>Phone: <strong>{{resource.contactp1}}</strong></p>
            </template>
            <template is="dom-if" if="{{checkAttribute(resource.contacte1)}}">
              <p>Email: <strong>{{resource.contacte1}}</strong></p>
            </template>
            <template is="dom-if" if="{{checkAttribute(resource.street)}}">
              <p>Address: <strong>{{resource.street}}, {{resource.city}} {{resource.state}}</strong></p>
            </template>
            <div class="layout horizontal">
              <p>Openings: <strong>
                <template is="dom-if" if="{{checkAttribute(resource.servicecapacity)}}">
                  {{resource.servicecapacity_available}}/{{resource.servicecapacity}} 
                </template>
                <template is="dom-if" if="{{!checkAttribute(resource.servicecapacity)}}">
                  N/A
                </template>
              </p>
              <p> &nbsp; {{resource.servicecapacity_beds_notes}}</p>
                </strong>
              
            </div>

            <div class="flex">
              <p>{{resource.contactinfo}}</p>

              <div>
                <geo-location watch-pos latitude="{{latitude2}}" longitude="{{longitude2}}"></geo-location>
              </div>

              <google-map zoom="100" latitude="{{resource.latitude}}" longitude="{{resource.longitude}}" api-key="AIzaSyD2uB8E8eJ_KME3M5JUvGQQ2ZCt8O6xKQg">
                <google-map-marker latitude="{{latitude2}}" longitude="{{longitude2}}" title="Resource Map"></google-map-marker>
                <google-map-marker latitude="{{resource.latitude}}" longitude="{{resource.longitude}}" icon="http://maps.google.com/mapfiles/ms/micons/green-dot.png"></google-map-marker>
              </google-map>
            </div>

          </div>
        </div>
      </div>
      <hn-wait-list resource="[[resource]]"></hn-wait-list>
    </div>
  </template>

  <script>
		Polymer({
      is: 'my-view4',
      checkAttribute: function(thing){
          return Boolean(thing);
      }
    });
	</script>
</dom-module>