<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view5">
	<template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="layout horizontal wrap">
        <h1>Oh no, we're full...</h1>
      </div>
    </div>     
  </template>

	<script>
		Polymer({
      is: 'my-view5'
    });
	</script>
</dom-module>