<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
    <template>
        <style include="shared-styles iron-flex iron-flex-alignment">
            :host {
                display: block;
                padding: 10px;
            }
            
            .icon {
                width: 100px;
                height: 135px;
                left: -25px;
            }
            
            .countButton {
                background-color: #27AAE1;
                min-width: 35px;
                min-height: 35px;
                padding: 0px;
                margin: 0px;
                font-weight: bold;
                color: #FFFFFF;
            }
            
            .count {
                font-weight: bold;
                font-size: 3em;
            }

        </style>

        <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>

        <div class="layout horizontal wrap">
            <h1 class="headerTitles">Who Needs Help?</h1>
        </div>

        <div class="layout horizontal wrap alignRows">
            <div class="card cardFlex">
                <table>
                    <tr>
                        <td>
                            <iron-icon class="icon" src="images/Man.svg"></iron-icon>
                        </td>
                        <td>
                            <div>
                                <div class=count>[[manCount]]</div>
                                <paper-button raised class="flex countButton" id="manCountDec" on-click="changeCount">-</paper-button>
                                <paper-button raised class="flex countButton" id="manCountInc" on-click="changeCount">+</paper-button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card cardFlex">
                <table>
                    <tr>
                        <td>
                            <iron-icon class="icon" src="images/WOman.svg"></iron-icon>
                        </td>
                        <td>
                            <div>
                                <div class=count>[[womanCount]]</div>
                                <paper-button raised class="flex countButton" id="womanCountDec" on-click="changeCount">-</paper-button>
                                <paper-button raised class="flex countButton" id="womanCountInc" on-click="changeCount">+</paper-button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card cardFlex">
                <table>
                    <tr>
                        <td style="font-weight: bold; font-size: 1.25em; line-height: 1px">

                            <div class="layout horizontal"> Ages:
                                <paper-input style="width:35px; height: 35px; margin-top:-39px" id="ageMin" placeholder="min"></paper-input> -
                                <paper-input style="width:35px; height: 35px; margin-top:-39px" id="ageMax" placeholder="max"> </paper-input>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <iron-icon class="icon" src="images/child.svg" style="width:75px; position: relative; bottom: -10px; left: -14px"></iron-icon>
                        </td>
                        <td>
                            <div>
                                <div class=count>[[childCount]]</div>
                                <paper-button raised class="flex countButton" id="childCountDec" on-click="changeCount">-</paper-button>
                                <paper-button raised class="flex countButton" id="childCountInc" on-click="changeCount">+</paper-button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="alignRows">
            <div>
                <div class="layout horizontal wrap">
                    <paper-button raised on-click="link" class="flex" style="background-color: #27AAE1; color: white; margin-bottom: 16px">Continue</paper-button>
                </div>
            </div>
        </div>
    </template>

    <script>
    Polymer({
      is: 'my-view2',
      properties: {
          manCount: {
            type: Number
          },
          womanCount: {
            type: Number
          },
          childCount: {
            type: Number
          },
        },
        ready:function(){
            this.manCount = 0;
            this.womanCount = 0;
            this.childCount = 0;
         
        },
           changeCount : function(el){
                var id =  el.currentTarget.id;
                switch (id) {
                    case "manCountInc":
                        this.manCount++;
                        break;
                    case "manCountDec":
                        if(this.manCount>0){
                             this.manCount--;
                        }
                        break;
                    case "womanCountInc":
                        this.womanCount++;
                        break;
                    case "womanCountDec":
                    if(this.womanCount>0){
                         this.womanCount--;
                    }
                        break;
                    
                    case "childCountInc":
                        this.childCount++;
                        break;
                    case "childCountDec":
                     if(this.childCount>0){
                         this.childCount--;
                     }
                        break;
                    }
            },
            dec : function(el){
var id =  el.currentTarget.id;
            },
       link:function(el) {
          var self = this;
          el.currentTarget.addEventListener('transitionend', function(e) {
            var men = self.manCount;
            var women = self.womanCount;
            var children = self.childCount;
            var ageMin = self.$.ageMin && self.$.ageMin.value?self.$.ageMin.value:0;
            var ageMax = self.$.ageMax && self.$.ageMax.value?self.$.ageMax.value:0;
            
            location.href = '/view3?cat='+self.queryParams.cat+'&men='+men+'&women='+women+'&children='+children+'&ageMin='+ageMin+'&ageMax='+ageMax;
          })
         }
    });
  </script>
</dom-module>