<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;
        padding: 10px;
      }
      
      .label {
        font-weight: bold;
        font-size: 1.25em;
      }
      
      .icon-menu-item {
        padding: 20px
      }
      .icon-menu-item-name{
            color: #58585a;
            text-align:center;
            padding:6px 0 0 0 ;
      }
    </style>
   
    <!--<div class="card">-->
    <div class="layout horizontal wrap" style="min-height: 110px">
      <h1 class="headerTitles">What do you need help with?</h1>
    </div>
    <!--</div>-->
    <div class="layout horizontal wrap alignRows">
      <div class="icon-menu-item">
        <paper-icon-button raised on-click="link" class="iconButton" id="shelter" src="images/Shelter.svg"></paper-icon-button>
        <div class="icon-menu-item-name">Immediate Shelter</div>
      </div>
      <div class="icon-menu-item">
        <paper-icon-button raised on-click="link" class="iconButton" id="dailyNeeds" src="images/Foodicon.svg"></paper-icon-button>
        <div class="icon-menu-item-name">Daily Needs</div>
      </div>
    </div>
    <div class="layout horizontal wrap alignRows">
      <div class="icon-menu-item">
        <paper-icon-button raised on-click="link" class="iconButton" id="longTermAid" src="images/Treatment.svg"></paper-icon-button>
        <div class="icon-menu-item-name">Long-Term Aid</div>
      </div>
      <div class="icon-menu-item">
            <paper-icon-button raised on-click="link" class="iconButton" id="emergency" src="images/AlertIcon.svg"></paper-icon-button>
           <div class="icon-menu-item-name">Emergency</div>
        </div>
      </div>
    
  </template>

	<script>
		Polymer({
      is: 'my-view1',
       link:function(el) {
          var self = this;
          var cat =  el.currentTarget.id;
          el.currentTarget.addEventListener('transitionend', function(e) {
            location.href = '/view2?cat='+cat;
          })
         }
    });
	</script>
</dom-module>