<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      
      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }
      
      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
      
      .margin-right {
        margin-right: 10px;
      }
      
      .margin-bottom {
        margin-bottom: 15px;
      }
      
      a {
        text-decoration: none;
      }
      
      .divide {
        border-bottom: 1px solid #e4e4e4;
      }
      
      .iconButton {
        width: 175px;
        height: 175px;
        background-color: #27aae1;
        border-radius: 6px;
        box-shadow: 0px 1px 5px black;
      }
      
      .iconButton:hover {
        background-color: #77c3e1;
        background: linear-gradient(to bottom right, #00aedd, #92e1ff);
      }
      
      .cardFlex {
        max-width: 220px;
        min-width: 220px;
        text-align: center;
        border-radius: 10px;
        padding-bottom: 0px;
      }
      
      .alignRows {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .headerTitles {
        color: #58585a;
        height: 50px;
        font-size: 2.5em;
        text-align: center;
        width: 100%;
      }
      
      @media (max-width: 320px) {
        .headerTitles {
          font-size: 2em;
        }
      }
    </style>
  </template>
</dom-module>